-s
.mvn/settings.xml

-Dspring.datasource.url=jdbc:postgresql://localhost:5432/my_pg_db
-Dspring.datasource.username=postgres
-Dspring.datasource.password=123456
-Dapp.analytics.datasource.url=jdbc:postgresql://localhost:5432/hospital_analytics
-Dapp.analytics.datasource.username=postgres
-Dapp.analytics.datasource.password=123456
